@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;700&display=swap');

:root{
    --background-share-dialog: hsl(217, 19%, 35%);
    --background-page: hsl(212, 23%, 69%);
    --background-card: hsl(210, 46%, 95%);
    --button-icon-path: hsl(210, 46%, 95%);
    --background-share-section: hsl(212, 23%, 69%);
    --background-footer: hsl(217, 19%, 35%);
    --background-icon: hsl(212, 23%, 69%);
    
    --font-color-share-section: hsl(214, 17%, 51%);
    --link-color: hsl(212, 23%, 69%);
    --font-color-date: hsl(212, 23%, 69%);
    --font-color-header-text: hsl(217, 19%, 35%);
    --font-p-color: hsl(214, 17%, 51%);

    --font-size-body: 13px;
    --h1-font-size: 1rem;
    --h1-author-name: 0.8em;
    --font-family: 'Manrope', sans-serif;
    --p-font-weights: 400;
    --font-author-weights: 500;

    --box-shadow-color: hsl(217, 19%, 35%);
}

*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--background-page);
    font-size: var(--font-size-body);
    font-family: var(--font-family);
}

main, section, .share-buttons{
    border-radius: 5px;
}

section{
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: var(--background-card);
}

.snippet-container{
    width: 90%;
    margin: auto;
    color: var(--font-p-color);
}

.container{
    width: 90%;
    margin: auto;
}

header h1{
    font-size: var(--h1-font-size);
    color: var(--font-color-header-text);
}

.avatar-container, .author{
    display: flex;
    align-items: center;
}

.avatar-container{
    width: 90%;
    justify-content: start;
}

.author{
    justify-content: space-between;
}

.avatar-text{
    margin-left: 15px;
}

.avatar-text p:last-child{
    font-size: 0.7em;
}

.share-section{
    width: 10%;
}

main.container section:focus, 
.main-text:focus,
.author:focus, 
.share-section:focus{
    outline: 1px dotted #000;
}

.avatar-container h2{
    font-size: var(--h1-author-name);
    color: var(--font-color-header-text);
}

.share-buttons{
    padding: 5px 20px;
    background-color: var(--background-footer);
}

.share-buttons a{
    color: var(--link-color);
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1rem;
    letter-spacing: 3px;
}

.share-buttons .container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.share-logo{
    width: 30%;
}

.share-icon{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--background-icon);
}

.social-media-icons{
    width: 50%;
    display: flex;
    justify-content: space-around;
}

.social-media-icons a {
    display: flex;
    align-items: center;
}

.img-container img{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.avatar-container img{
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

.share-buttons--none{
    display: none;
    animation: fadeIn 1s;
}

@keyframes fadeIn {
    from{ opacity: 0; }
    to{ opacity: 1; }
}


@media only screen and (max-width: 600px){
    
    main.container{
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .img-fluid{
        max-width: 100%;
    }

    .snippet-container{
        padding: 32px 20px;
    }

    figure img{
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    .text-snippet{
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .share-buttons{
        width: 90%;
        height: 64px;
        margin-top: 11px;
    }

    .share-buttons--toggle{
        display: flex;
        position: absolute;
        transform: translateY(234px);
    }

    .share-buttons--toggle .share-icon svg path{
        fill: var(--button-icon-path);
    }

}


@media only screen and (min-width: 768px){

    main.container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 96vh;
    }

    section{
        width: 568px;
        height: 216px;
        display: flex;
        box-shadow: 5px 10px 20px var(--box-shadow-color);
    }

    .img-container{
        overflow: hidden;
        width: 39.333%; /* 1 / 3*/
        height: inherit;
    }

    .img-container img{
        display: block;
        width: auto;
        height: inherit;
    }

    .snippet-container{
        width: 60.667%; /* 2/3 */
        height: inherit;
        display: flex;
    }

    .main-text{
        width: 80%;
        margin: auto;
        height: 80%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .main-text p{
        font-size: 0.8em;
    }

    .share-icon{
        cursor: pointer;
    }

    .share-icon:hover{
        background-color: var(--background-footer);
        transition: 0.5s ease-in all;
    }
    
    .share-icon svg:hover path{
        fill: white;
    }

    .share-buttons--toggle{
        display: flex;
        position: absolute;
        transform: translateX(236px);
    }
    
    .share-buttons--toggle .share-icon{
        display: none;
    }

    .share-buttons{
        width: 256px;
        padding: 16px;
        border: 1px solid var(--background-footer);
        margin-bottom: 20px;
        transition: 0.5s ease-in all;
    }

    .share-buttons::before, .share-buttons::after{
        content: '';
        position: absolute;
        top: 100%;
        right: 112px;
        border: 16px solid transparent;
        border-top-color: var(--background-footer);
    }

    .share-buttons::after{
        border: 16px solid transparent;
    }
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}